*{
    margin: 0;
}
/* -------> HEADER <------- */
header{
    background-color: #4F76A1;
}
.center{
    margin-left: 200px;
    margin-right: 200px;
}
.header-inside{
    display: flex;
    padding: 10px 0;
}
.logo{
    font-size: 30px;
    font-weight: 800;
    color: white;
}
.search-bar{
    margin-left: 180px;
    width: 200px;
    background-color: #324766;
    border-radius: 30px;
}
.search-button{
    background-color: transparent;
    border: none;
    color: gray;
    position: relative;
    left: 10px;
}
.search-input{
    background-color: transparent;
    padding: 10px;
    border: none;
}
input:active{
    border: transparent;
}

/* -------> MAIN <------- */
main{
    background-color: #E8EAED;
    height: 100%;
}

/* -------> MAIN-LEFT-COL <-------*/
ul{
    list-style: none;
    padding: 0px;
    margin-right: 20px;
}
ul li{
    color: #9DA3AE;
}
.nav-bar > ul li{
    font-size: 18px;
    margin-bottom: 10px;
    color: #9DA3AE;
}
.main-inside{
    padding-top: 30px;
    display: flex;
    padding-bottom: 50px;
}

/* MAIN SECOND COL */
.main-second-col{
    margin-left: 90px;
   
}
.avatar{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}
.avatar > img{
    /* width: 300px; */
    height: 200px;
}
.edit-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.edit-btn > button{
    font-size: 15px;
    width: 100%;
    border: transparent;
    background-color: #E8EAED;
    border-radius: 4px;
    padding: 8px;
    color: #9DA3AE;
}
.friends{
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    width: 300px;
    color: #9DA3AE;
    font-size: 14px;
}

.friends > p > span{
    font-size: 18px;
}

.friends-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 250px;
    margin-left: 20px;
}

.friend{
    width: 60px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friend-avatar{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 5px;
}

.friend-name{
    text-align: center;
}

/* MAIN THIRD COL */
.main-third-col{
    margin-left: 10px;
    width: auto;
}
.general-info{
    width: inherit;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}
.general-info > .first-row{
    border-bottom: 1px solid #9DA3AE;
}
.first-row > .think{
    margin-bottom: 15px;
    color: #9DA3AE;
    margin-top: 10px;
}
.name-and-status{
    display: flex;
    justify-content: space-between;
}
.name-and-status > .name{
    color: black;
    font-size: 18px;
}
.name-and-status > .status{
    color: #9DA3AE;
}
.second-row{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #9DA3AE;
}
.second-row > ul li{
    margin-bottom: 3px;
}
ul#descr li{
    color: #324766!important;
    margin-left: 20px;
}
.third-row{
    display: flex;
    justify-content: space-evenly;
}
.box{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 5px;
    padding: 5px;
}
.box > .number{
    font-size: 20px;
    color: #4F76A1;
    text-align: center;
    padding-bottom: 10px;
}
.box > .info{
    color: #9DA3AE;
    text-align: center;
}

/* MY PHOTOS */
.my-photos{
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}
.my-photos > .title{
    margin: 5px;
}
.my-photos > .title > span{
    color: #9DA3AE;
    font-size: 18px;
}
.photos > img{
    width: 150px;
    height: 150px;
    margin: 5px;
}

.news{
    margin-top: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}
.author{
    display: flex;
    height: auto;
    align-items: center;
}
.author-info > .name{
    font-size: 20px;
    color: #4F76A1;
    margin-bottom: 5px;
}
.author-info > .date{
    color: #9DA3AE;
    font-size: 16px;
}
.author-logo > img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 20px;
}
.news-descr{
    margin-top: 10px;
    font-size: 16px;
    color: #9DA3AE;
}

/* SECOND PAGE */
/* HEADER */

.main-second-col > .header {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8FD;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #9DA3AE;
}
.main-second-col > .header > .left-col{
    display: flex;
}
.main-second-col > .header > .left-col > .creds{
    display: flex;
    padding: 5px;
}
.main-second-col > .header > .left-col>.creds > .name{
    font-size: 14px;
    margin-right: 5px;
}
.main-second-col > .header > .left-col > .creds > .number{
    font-size: 14px;
    color: gray;
}
.main-second-col > .header > .right-col > button{
    padding: 5px 12px;
    background-color: #4F76A1;
    color: #ffffff;
    border: transparent;
    border-radius: 4px;
}
.main-second-col > .search-friend{
    padding:10px;
    border-bottom: 1px solid #9DA3AE;
    background-color: #ffffff;
}
.main-second-col > .search-friend > #input{
    padding: 5px;
    width: 90%;
    border: transparent;
    margin-left: 10px;
    font-size: 16px;
}
.main-second-col > .friends-list {
    width: 620px;
    margin: 0;
    background-color: #ffffff;
}
.main-second-col > .friends-list > .friend-info{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9DA3AE;
    padding: 10px;
}
.main-second-col > .friends-list > .friend-info > .info{
    display: flex;
    align-items: center;
}
.main-second-col > .friends-list > .friend-info > .info > .general{
    margin-left: 20px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-second-col > .friends-list > .friend-info > .info > img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.info > .general > .name{
    font-size: 16px;
    font-weight: bold;
    color: #2A76B0;
}

.info > .general > .work-info{
    font-size: 12px;
    font-weight: lighter;
    color: gray;
}

.info > .general > .write-msg{
    font-size: 12px;
    font-weight: lighter;
    color: #608DB4;
}

button.btn-dot {
    border: 2px solid #9fa2a4;
    height: 18px;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent ;
    color: #9DA3AE;
}
  
button.btn-dot > .dots {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* The Arial font appears to have "square" dots */
    font-size: 36px;
    line-height: 0; 
    margin-top: -10px;
    letter-spacing: -2px; 
}

/* MAIN THIRD COL */
#list > ul{
    margin: 0;
    padding: 10px 0;
}
#list > ul li{
    color: #2A76B0;
    padding: 10px 30px;
    font-size: 18px;
}
#list{
    width: 300px;
    background-color: #ffffff;
    border-radius: 4px;
}
#list > ul li:hover{
    background-color: #EDEDFC;
    color: black;
}
.possible-friends{
    margin-top: 10px;
    border-radius: 4px;
    width: 300px;
    background-color: #ffffff;
    padding: 20px 0;
}
.possible-friends > p {
    margin-left: 10px;
    font-size: 16px;
    color: gray;
}
.possible-friends-list{
    margin-left: 20px;
}
.possible-friend-info{
    /* padding: 10px; */
    display: flex;
    align-items: center;
}
.possible-friend-info > .general > .name{
    font-size: 16px;
    font-weight: lighter;
    color: #2A76B0;
    margin-bottom: 5px;
}
.possible-friend-info > .general > .info{
    font-size: 16px;
    font-weight: lighter;
    color: #9fa2a4;
    margin-bottom: 5px;
}
.possible-friend-info > .general > .add{
    font-size: 14px;
    font-weight: lighter;
    color: #2A76B0;
    margin-bottom: 5px;
}
.possible-friend-info > img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px 10px 0 0;
}

/* Responsive screen */
@media screen and (max-width: 1000px) {
    .center {
      margin-left: 50px;
    }
}